{% assign members = site.team %}
{% assign members_size = members | size %}
{% assign roles = members | group_by: "role" %}

{% if site.active_lang == "es" or site.active_lang == "en" %}
  <div>
    {{ site.data[site.active_lang].strings.group_description }} {{ members_size }} integrantes.       
    De los cuales
    {% for role in roles %}
      {% if role.name == "inv" %}
        {{ role.size }} {{ site.data[site.active_lang].strings.roles[role.name] }}{% endif %}
      {% if role.name == "postdoc" and role.size > 0 %}, {{ role.size }} {{ site.data[site.active_lang].strings.roles[role.name] }}{% endif %}
      {% if role.name == "doc" and role.size > 0 %}, {{ role.size }} {{ site.data[site.active_lang].strings.roles[role.name] }}{% endif %}
      {% if role.name == "master" and role.size > 0 %}, {{ role.size }} {{ site.data[site.active_lang].strings.roles[role.name] }}{% endif %}
      {% if role.name == "grado" and role.size > 0 %}, {{ role.size }} {{ site.data[site.active_lang].strings.roles[role.name] }}{% endif %}
      {% if role.name == "tec" and role.size > 0 %}, {{ role.size }} {{ site.data[site.active_lang].strings.roles[role.name] }}{% endif %}
    {% endfor %}
    .
  </div>
{% endif %}