<div class="card-item col">
  <a href="{% if member.redirect %}{{ member.redirect }}{% else %}{{ member.url | relative_url }}{% endif %}">
    <div class="team card hoverable">
      {% if member.picture %}
        {%
          include figure.liquid loading="eager" path=member.picture sizes = "150px" alt="member thumbnail"
        %}
      {% endif %}
      <div class="card-body right">
        <h2 class="card-title text-titlecase">{{ member.first_name }} <br>
          <strong>{{ member.last_name }}</strong>
        </h2>
        <p class="card-text">{{ member.position }}</p>
        <div class="row ml-1 mr-1 p-0">
          {% if member.social %}
            {% include member_social.liquid %}
          {% endif %}
        </div>
      </div>
    </div>
  </a>
</div>